<div class="bg-terre-ombre-brule w-full" appScrollManager>
  <app-auth (value)="onUsernameChange($event)"></app-auth>
  <app-calendar *ngIf="signalRService.hourPerDate()"
                #calendarElement
                appScrollSection="calendar"
  ></app-calendar>
    <mat-grid-list
      #gridList
      [cols]="colsAmount"
      rowHeight="fit"
      style="height: 100vh"
      appScrollSection="timeTable"
    >
      @for (tile of tiles; track tile.id) {
        <mat-grid-tile [colspan]="tile.cols" [rowspan]="tile.rows">
          @if (tile.cellType == CellType.X) {
            <div
              appScrollAnchor="calendar"
              class="flex md:flex-row items-end md:items-center pl-1 justify-around w-full h-full bg-ceruleen-moyen text-terre-ombre-brule cursor-n-resize hover:bg-opacity-50"
            >
              <div class="pr-1">
                {{ tile.text }}
              </div>
              <div class="flex flex-col md:flex-row">
                <mat-icon>calendar_month</mat-icon>
                <mat-icon>stat_2</mat-icon>
              </div>
            </div>
          } @else if (tile.cellType == CellType.COLUMN_HEADER) {
            <div (click)="clickMachineColumn($event, tile.subject)" class="flex flex-col md:flex-row place-items-center place-content-end md:place-content-center w-full h-full text-terre-ombre-brule bg-ceruleen-moyen hover:bg-opacity-50  cursor-s-resize">
              <mat-icon (click)="clickSubjectIcon($event, tile.subject)" class="text-terre-ombre-brule cursor-help">{{tile.subject.icon}}</mat-icon>
              <div (click)="clickSubjectIcon($event, tile.subject)" class="hover:bg-opacity-5 e cursor-help">
                {{ tile.text }}
              </div>
            </div>
          }
          @if (tile.cellType == CellType.ROW_HEADER) {
            <app-hour-header
              [hour]="tile.hour"
              (click)="clickHourHeader($event, tile.hour)"
              class="w-full h-full justify-items-center bg-vert-59 text-white hover:bg-opacity-50 cursor-e-resize"
            />
          } @else if (tile.cellType == CellType.HOUR) {
            <app-hour
              [hour]="tile.hour"
              [user]="laundryUser()"
              (selected)="onHourSelected($event, tile)"
              class="w-full h-full"
            />
          }
        </mat-grid-tile>
      }
    </mat-grid-list>
</div>
