<div class="flex-col bg-gray-700 w-full" appScrollManager>
  <!--app-calendar
    appScrollSection="calendar"
    appScrollAnchor="timeTable"
  ></app-calendar-->
  <!-- <ng-container *ngIf="tiles">
    <mat-grid-list
      cols="6"
      rowHeight="fit"
      style="height: 100vh"
      appScrollSection="timeTable"
    >
      <mat-grid-tile
        *ngFor="let tile of tiles; index as ix"
        [colspan]="tile.cols"
        [rowspan]="tile.rows"
      >
        <div
          appScrollAnchor="calendar"
          *ngIf="tile.cellType == CellType.X"
          class="flex items-end pl-3 pr-3 text-right w-full h-full bg-terre-ombre-brule text-white"
        >
          <div class="flex flex-col">
            <span
              *ngIf="tile.cellType == CellType.X"
              class="-mb-1 material-symbols-sharp"
            >
              expand_less
            </span>
            <span
              *ngIf="tile.cellType == CellType.X"
              class="pb-1 material-symbols-sharp"
            >
              edit_calendar
            </span>
          </div>
          {{ tile.text }}
        </div>
        <div
          *ngIf="tile.cellType == CellType.COLUMN_HEADER"
          (click)="clickHourColumn($event, tile.hour)"
          class="flex items-end pl-3 pr-3 text-right w-full h-full bg-terre-ombre-brule text-white"
        >
          {{ tile.text }}
        </div>
        <app-hour-header
          [hour]="tile.hour"
          *ngIf="tile.cellType == CellType.ROW_HEADER"
          (click)="clickHourHeader($event, tile.hour)"
          class="w-full h-full bg-vert-59 text-white text-right pr-2"
        ></app-hour-header>
        <app-hour
          [hour]="tile.hour"
          *ngIf="tile.cellType == CellType.HOUR"
          class="w-full h-full"
        ></app-hour>
      </mat-grid-tile>
    </mat-grid-list>
  </ng-container> -->


  <div class="gesture__zone" (pan)="onPan($event)" (tap)="onTap($event)">
  </div>
  <div
    class="gesture__indicator"
    *ngFor="let indicator of indicators.gestureIndicators"
    [style.top.px]="indicator.y - indicator.size / 2"
    [style.left.px]="indicator.x - indicator.size / 2"
    [style.width.px]="indicator.size"
    [style.height.px]="indicator.size"
    [style.transform]="indicator.transform"
    [@indicatorState]="indicator.state"
  ></div>
  <p [innerHTML]="eventText"></p>
</div>
