<div class="flex-col bg-gray-700 w-full">
 

<div class="gesture__zone" (pan)="onPan($event)" (tap)="onTap($event)">
  <h1>Pan Gesture</h1>
  <p [innerHTML]="eventText"></p>
</div>

 <app-calendar></app-calendar>

  <div
    class="gesture__indicator"
    *ngFor="let indicator of indicators.gestureIndicators"
    [style.top.px]="indicator.y - (indicator.size/2)"
    [style.left.px]="indicator.x - (indicator.size/2)"
    [style.width.px]="indicator.size"
    [style.height.px]="indicator.size"
    [style.transform]="indicator.transform"
    [@indicatorState]="indicator.state"></div>

<ng-container *ngIf="tiles$ | async as tiles">
  <mat-grid-list cols="6" rowHeight="fit" style="height: 100vh">
    <mat-grid-tile
      *ngFor="let tile of tiles; index as ix"
      [colspan]="tile.cols"
      [rowspan]="tile.rows">
      <div *ngIf="tile.header && !tile.hour" class="bg-terre-ombre-brule text-white">{{ tile.text }}</div>
      <app-hour-header [hour]="tile.hour" *ngIf="tile.header && tile.hour" class="w-full h-full bg-vert-59 text-white text-right pr-2"></app-hour-header>
      <app-hour [hour]="tile.hour" *ngIf="!tile.header && tile.hour" class="w-full h-full"></app-hour>
      <!--div class="example-ripple-container mat-elevation-z4 bg-red"
           matRipple
           [matRippleCentered]="centered"
           [matRippleDisabled]="disabled"
           [matRippleUnbounded]="unbounded"
           [matRippleRadius]="radius"
           [matRippleColor]="color">
        Click me
      </div-->
    </mat-grid-tile>
  </mat-grid-list>
</ng-container>
