@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  height: 100%;
  background-color: rgb(62, 110, 144);
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.reserved {
  background-color: #943a4d !important;
  opacity: 30%;
}
.reserved-max {
  opacity: 70% !important;
}
.reserved-full {
  opacity: 100% !important;
}
.mat-calendar-body-selected {
  background-color: #428f70 !important;
}
.mat-calendar-previous-button, .mat-calendar-next-button {
  display: none !important;
}
