@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  height: 100%;
  background-color: rgb(62, 110, 144);
  color: rgba(234, 219, 192, 100%) !important;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.reserved {
  background-color: rgba(76, 66, 61, 0.3) !important; /* 30% opacity */
  color: rgba(234, 219, 192, 1) !important; /* Full color */
}
.reserved-max {
  background-color: rgba(76, 66, 61, 0.7) !important; /* 70% opacity */
  color: rgba(234, 219, 192, 1) !important; /* Full color */
}
.reserved-full {
  background-color: rgba(76, 66, 61, 1) !important; /* 100% opacity */
  color: rgba(234, 219, 192, 1) !important; /* Full color */
}

.mat-calendar-body-selected {
  background-color: #428f70 !important;
}
.mat-calendar-previous-button, .mat-calendar-next-button {
  display: none !important;
}

.mdc-linear-progress__bar-inner{
  border-color: rgb(146, 148, 148) !important;
}
