<div
  *ngIf="hour"
  [class]="hour.selectedBy ? 'bg-rouge-rubia text-white' : 'bg-vert-clair text-black'"
  class="gesture__zone h-full text-center flex justify-center items-center"
  (tap)="onTap($event)"
  (pan)="onPan($event)"
  (panstart)="onPanDown($event)"
  (panend)="onPanUp($event)"
  (mouseenter)="onEnter($event)"
  (mousedown)="onPanDown($event)"
  (mouseup)="onPanUp($event)"
>
  {{ hour.selectedBy }}
</div>
<div
  class="gesture__indicator bg-terre-ombre-brule"
  *ngFor="let indicator of indicators.gestureIndicators"
  [style.top.px]="indicator.y - indicator.size / 2"
  [style.left.px]="indicator.x - indicator.size / 2"
  [style.width.px]="indicator.size"
  [style.height.px]="indicator.size"
  [style.transform]="indicator.transform"
  [@indicatorState]="indicator.state"
></div>
