<mat-form-field appearance="fill">
  <mat-label>Choose a date</mat-label>
  <input matInput [matDatepicker]="picker" (dateChange)="selectionFinished($event)">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker touchUi=true #picker></mat-datepicker>
</mat-form-field>
<mat-form-field> <input matInput [matDatepicker]="touchUi" placeholder="mobile touchUi"> <mat-datepicker-toggle matSuffix [for]="touchUi"></mat-datepicker-toggle> <mat-datepicker touchUi="true" #touchUi></mat-datepicker> </mat-form-field>
<mat-form-field class="example-full-width" appearance="fill">
  <mat-label>Choose a date</mat-label>
  <input matInput [matDatepicker]="picker">
  <mat-hint>MM/DD/YYYY</mat-hint>
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker touchUi #picker></mat-datepicker>
</mat-form-field>
